In [2]:
import pandas as pd
import numpy as np
import random as rd
import matplotlib.pyplot as plt

In [3]:
file_path = r'C:\Users\tiara.santoso\Downloads\2024-09-19T02_46_01.342465898Z.csv'
df = pd.read_csv(file_path)

In [4]:
df.head(100)

,a_unique_user_id,a_email,a_phone_number,a_name,event_name,e_source,e_session_id,e_url,e_taxonomy,e_product_id,...,e_c_source,e_c_voucher_applied_code,e_c_city,e_c_district,e_c_country,e_c_subtotal,e_c_total,e_c_order_source,e_c_order_type,iid
0,\N,\N,\N,\N,NaN,NaN,\N,\N,\N,\N,...,\N,\N,\N,\N,\N,\N,\N,\N,\N,def1340c0bfd4843
1,\N,\N,\N,\N,NaN,NaN,\N,\N,\N,\N,...,\N,\N,\N,\N,\N,\N,\N,\N,\N,6fc70ec674e44916
2,\N,\N,\N,\N,NaN,NaN,\N,\N,\N,\N,...,\N,\N,\N,\N,\N,\N,\N,\N,\N,837ad979dffd4789
3,\N,\N,\N,\N,NaN,NaN,\N,\N,\N,\N,...,\N,\N,\N,\N,\N,\N,\N,\N,\N,1723262457971add10c04c3.eebd853a
4,\N,\N,\N,\N,NaN,NaN,\N,\N,\N,\N,...,\N,\N,\N,\N,\N,\N,\N,\N,\N,17257781686806b64a82ebc.4b8a0b63
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,\N,\N,\N,\N,NaN,NaN,\N,\N,\N,\N,...,\N,\N,\N,\N,\N,\N,\N,\N,\N,1712540889812439e5c9204.9816286d
96,\N,\N,\N,\N,NaN,NaN,\N,\N,\N,\N,...,\N,\N,\N,\N,\N,\N,\N,\N,\N,1707545342879530416618b.ab6aa77e
97,\N,\N,\N,\N,NaN,NaN,\N,\N,\N,\N,...,\N,\N,\N,\N,\N,\N,\N,\N,\N,1719128277049a39acd067d.4097c644
98,\N,\N,\N,\N,NaN,NaN,\N,\N,\N,\N,...,\N,\N,\N,\N,\N,\N,\N,\N,\N,172041359206024d6499032.2e4771b6
99,5dec93d1fe1ae140ae4de15b,irwandaaulia10@gmail.com,\N,IrwandaAulia,NaN,NaN,\N,\N,\N,\N,...,\N,\N,\N,\N,\N,\N,\N,\N,\N,d2ef2ba2-9aac-470f-a37b-1a7ef8221d36

In [7]:
!pip install streamlit

Requirement already satisfied: streamlit in c:\users\tiara.santoso\appdata\local\anaconda3\lib\site-packages (1.38.0)
Requirement already satisfied: altair<6,>=4.0 in c:\users\tiara.santoso\appdata\local\anaconda3\lib\site-packages (from streamlit) (5.4.1)
Requirement already satisfied: blinker<2,>=1.0.0 in c:\users\tiara.santoso\appdata\local\anaconda3\lib\site-packages (from streamlit) (1.8.2)
Requirement already satisfied: cachetools<6,>=4.0 in c:\users\tiara.santoso\appdata\local\anaconda3\lib\site-packages (from streamlit) (5.3.2)
Requirement already satisfied: click<9,>=7.0 in c:\users\tiara.santoso\appdata\local\anaconda3\lib\site-packages (from streamlit) (8.0.4)
Requirement already satisfied: numpy<3,>=1.20 in c:\users\tiara.santoso\appdata\local\anaconda3\lib\site-packages (from streamlit) (1.24.3)
Requirement already satisfied: packaging<25,>=20 in c:\users\tiara.santoso\appdata\local\anaconda3\lib\site-packages (from streamlit) (23.1)
Requirement already satisfied: pandas<3,>=1.3.0 in c:\users\tiara.santoso\appdata\local\anaconda3\lib\site-packages (from streamlit) (2.1.4)
Requirement already satisfied: pillow<11,>=7.1.0 in c:\users\tiara.santoso\appdata\local\anaconda3\lib\site-packages (from streamlit) (9.4.0)
Requirement already satisfied: protobuf<6,>=3.20 in c:\users\tiara.santoso\appdata\local\anaconda3\lib\site-packages (from streamlit) (5.28.2)
Requirement already satisfied: pyarrow>=7.0 in c:\users\tiara.santoso\appdata\local\anaconda3\lib\site-packages (from streamlit) (11.0.0)
Requirement already satisfied: requests<3,>=2.27 in c:\users\tiara.santoso\appdata\local\anaconda3\lib\site-packages (from streamlit) (2.31.0)
Requirement already satisfied: rich<14,>=10.14.0 in c:\users\tiara.santoso\appdata\local\anaconda3\lib\site-packages (from streamlit) (13.8.1)
Requirement already satisfied: tenacity<9,>=8.1.0 in c:\users\tiara.santoso\appdata\local\anaconda3\lib\site-packages (from streamlit) (8.2.2)
Requirement already satisfied: toml<2,>=0.10.1 in c:\users\tiara.santoso\appdata\local\anaconda3\lib\site-packages (from streamlit) (0.10.2)
Requirement already satisfied: typing-extensions<5,>=4.3.0 in c:\users\tiara.santoso\appdata\local\anaconda3\lib\site-packages (from streamlit) (4.12.2)
Requirement already satisfied: gitpython!=3.1.19,<4,>=3.0.7 in c:\users\tiara.santoso\appdata\local\anaconda3\lib\site-packages (from streamlit) (3.1.43)
Requirement already satisfied: pydeck<1,>=0.8.0b4 in c:\users\tiara.santoso\appdata\local\anaconda3\lib\site-packages (from streamlit) (0.9.1)
Requirement already satisfied: tornado<7,>=6.0.3 in c:\users\tiara.santoso\appdata\local\anaconda3\lib\site-packages (from streamlit) (6.3.2)
Requirement already satisfied: watchdog<5,>=2.1.5 in c:\users\tiara.santoso\appdata\local\anaconda3\lib\site-packages (from streamlit) (2.1.6)
Requirement already satisfied: jinja2 in c:\users\tiara.santoso\appdata\local\anaconda3\lib\site-packages (from altair<6,>=4.0->streamlit) (3.1.2)
Requirement already satisfied: jsonschema>=3.0 in c:\users\tiara.santoso\appdata\local\anaconda3\lib\site-packages (from altair<6,>=4.0->streamlit) (4.17.3)
Requirement already satisfied: narwhals>=1.5.2 in c:\users\tiara.santoso\appdata\local\anaconda3\lib\site-packages (from altair<6,>=4.0->streamlit) (1.8.3)
Requirement already satisfied: colorama in c:\users\tiara.santoso\appdata\local\anaconda3\lib\site-packages (from click<9,>=7.0->streamlit) (0.4.6)
Requirement already satisfied: gitdb<5,>=4.0.1 in c:\users\tiara.santoso\appdata\local\anaconda3\lib\site-packages (from gitpython!=3.1.19,<4,>=3.0.7->streamlit) (4.0.11)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\tiara.santoso\appdata\local\anaconda3\lib\site-packages (from pandas<3,>=1.3.0->streamlit) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\tiara.santoso\appdata\local\anaconda3\lib\site-packages (from pandas<3,>=1.3.0->streamlit) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\tiara.santoso\appdata\local\anaconda3\lib\site-packages (from pandas<3,>=1.3.0->streamlit) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\tiara.santoso\appdata\local\anaconda3\lib\site-packages (from requests<3,>=2.27->streamlit) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\tiara.santoso\appdata\local\anaconda3\lib\site-packages (from requests<3,>=2.27->streamlit) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\tiara.santoso\appdata\local\anaconda3\lib\site-packages (from requests<3,>=2.27->streamlit) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\tiara.santoso\appdata\local\anaconda3\lib\site-packages (from requests<3,>=2.27->streamlit) (2023.7.22)
Requirement already satisfied: markdown-it-py>=2.2.0 in c:\users\tiara.santoso\appdata\local\anaconda3\lib\site-packages (from rich<14,>=10.14.0->streamlit) (2.2.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in c:\users\tiara.santoso\appdata\local\anaconda3\lib\site-packages (from rich<14,>=10.14.0->streamlit) (2.15.1)
Requirement already satisfied: smmap<6,>=3.0.1 in c:\users\tiara.santoso\appdata\local\anaconda3\lib\site-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19,<4,>=3.0.7->streamlit) (5.0.1)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\tiara.santoso\appdata\local\anaconda3\lib\site-packages (from jinja2->altair<6,>=4.0->streamlit) (2.1.1)
Requirement already satisfied: attrs>=17.4.0 in c:\users\tiara.santoso\appdata\local\anaconda3\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (22.1.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in c:\users\tiara.santoso\appdata\local\anaconda3\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (0.18.0)
Requirement already satisfied: mdurl~=0.1 in c:\users\tiara.santoso\appdata\local\anaconda3\lib\site-packages (from markdown-it-py>=2.2.0->rich<14,>=10.14.0->streamlit) (0.1.0)
Requirement already satisfied: six>=1.5 in c:\users\tiara.santoso\appdata\local\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas<3,>=1.3.0->streamlit) (1.16.0)

In [9]:
import streamlit as st
import pandas as pd

filter_value = st.selectbox('Select a value', df['event_name'].unique())

# Filter the DataFrame
filtered_df = df[df['column_name'] == filter_value]

# Display the DataFrame
st.dataframe(filtered_df, height=500)

2024-09-26 11:17:56.842 WARNING streamlit.runtime.scriptrunner_utils.script_run_context: Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-09-26 11:17:56.855 WARNING streamlit.runtime.scriptrunner_utils.script_run_context: Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-09-26 11:17:56.872 WARNING streamlit.runtime.scriptrunner_utils.script_run_context: Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-09-26 11:17:56.872 WARNING streamlit.runtime.state.session_state_proxy: Session state does not function when running a script without `streamlit run`
2024-09-26 11:17:56.879 WARNING streamlit.runtime.scriptrunner_utils.script_run_context: Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-09-26 11:17:57.378
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run c:\Users\tiara.santoso\AppData\Local\anaconda3\Lib\site-packages\ipykernel_launcher.py [ARGUMENTS]
2024-09-26 11:17:57.378 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

KeyError: 'column_name'

In [11]:
count_N = df.apply(lambda col: (col == r'\N').sum())

count_nan = df.isna().sum()

result = pd.DataFrame({
    'Count of \\N': count_N,
    'Count of NaN': count_nan
})

print(result)

                  Count of \N  Count of NaN
a_unique_user_id      5265751             0
a_email               5531734             0
a_phone_number        5559093             0
a_name                5423497            26
event_name                  0       6736963
...                       ...           ...
e_c_subtotal          6818916             0
e_c_total             6818916             0
e_c_order_source      6818841             0
e_c_order_type        6818841             0
iid                         0             0

[68 rows x 2 columns]

In [12]:
result.head()

                  Count of \N  Count of NaN
a_unique_user_id      5265751             0
a_email               5531734             0
a_phone_number        5559093             0
a_name                5423497            26
event_name                  0       6736963

In [13]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

print(result)

                          Count of \N  Count of NaN
a_unique_user_id              5265751             0
a_email                       5531734             0
a_phone_number                5559093             0
a_name                        5423497            26
event_name                          0       6736963
e_source                            0       6736963
e_session_id                  6774169             0
e_url                         6779186             0
e_taxonomy                    6752548             0
e_product_id                  6751044             0
e_name                        6752622             0
e_currency                    6751044             0
e_unit_price                  6751044             0
e_unit_sale_price             6766111             0
e_quantity                    6751044             0
e_product_image_url           6752213             0
e_size                        6812982             0
e_stock                       6819161             0
e_color                       6819161             0
e_voucher_discount            6819161             0
e_shipping_cost               6818916             0
e_iis                         6819161             0
e_promotion_discount          6819161             0
e_voucher_name                6819161             0
e_promotion_name              6819161             0
e_nc_usp                      6794354             0
e_c_variant                   6793725             0
e_c_brand_name                6749811             0
e_c_combination_id            6753984             0
e_c_shade                     6784433             0
e_c_unit_sale_price           6804487             0
e_nc_up                       6779287             0
e_nc_cu                       6779287             0
e_c_is_out_of_stock           6804341             0
e_timestamp                         0       6736963
e_device_type                 6795814             0
e_referrer                    6801149             0
e_search_query                6819161             0
e_c_non_specify               6791745             0
e_brand_name                  6798575             0
e_combination_id              6797744             0
e_is_default                  6796299             0
e_c_id                        6819019             0
e_c_taxonomy                  6819009             0
e_c_unit_price                6819009             0
e_c_default_category          6790766             0
e_c_groupcode                 6819118             0
e_c_url                       6819118             0
e_c_currency                  6819161             0
e_c_name                      6819009             0
e_c_product_image_url         6819009             0
e_groupcode                   6819052             0
e_c_keyword                   6810106             0
e_event_group_id              6790321             0
e_c_payment_method            6790673             0
e_c_size                      6805033             0
e_c_total_redeem_point        6790598             0
e_c_store_name                6790918             0
e_c_source                    6790918             0
e_c_voucher_applied_code      6817206             0
e_c_city                      6819007             0
e_c_district                  6819007             0
e_c_country                   6819009             0
e_c_subtotal                  6818916             0
e_c_total                     6818916             0
e_c_order_source              6818841             0
e_c_order_type                6818841             0
iid                                 0             0

In [17]:
from IPython.display import FileLink, display

csv_file = 'results_count.csv'
result.to_csv(csv_file, index=True)

download_link = FileLink(csv_file)
display(download_link)

c:\Users\tiara.santoso\Downloads\.ipynb_checkpoints\results_count.csv

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6819161 entries, 0 to 6819160
Data columns (total 68 columns):
 #   Column                    Dtype
---  ------                    -----
 0   a_unique_user_id          object
 1   a_email                   object
 2   a_phone_number            object
 3   a_name                    object
 4   event_name                object
 5   e_source                  object
 6   e_session_id              object
 7   e_url                     object
 8   e_taxonomy                object
 9   e_product_id              object
 10  e_name                    object
 11  e_currency                object
 12  e_unit_price              object
 13  e_unit_sale_price         object
 14  e_quantity                object
 15  e_product_image_url       object
 16  e_size                    object
 17  e_stock                   object
 18  e_color                   object
 19  e_voucher_discount        object
 20  e_shipping_cost           object
 21  e_iis                     object
 22  e_promotion_discount      object
 23  e_voucher_name            object
 24  e_promotion_name          object
 25  e_nc_usp                  object
 26  e_c_variant               object
 27  e_c_brand_name            object
 28  e_c_combination_id        object
 29  e_c_shade                 object
 30  e_c_unit_sale_price       object
 31  e_nc_up                   object
 32  e_nc_cu                   object
 33  e_c_is_out_of_stock       object
 34  e_timestamp               object
 35  e_device_type             object
 36  e_referrer                object
 37  e_search_query            object
 38  e_c_non_specify           object
 39  e_brand_name              object
 40  e_combination_id          object
 41  e_is_default              object
 42  e_c_id                    object
 43  e_c_taxonomy              object
 44  e_c_unit_price            object
 45  e_c_default_category      object
 46  e_c_groupcode             object
 47  e_c_url                   object
 48  e_c_currency              object
 49  e_c_name                  object
 50  e_c_product_image_url     object
 51  e_groupcode               object
 52  e_c_keyword               object
 53  e_event_group_id          object
 54  e_c_payment_method        object
 55  e_c_size                  object
 56  e_c_total_redeem_point    object
 57  e_c_store_name            object
 58  e_c_source                object
 59  e_c_voucher_applied_code  object
 60  e_c_city                  object
 61  e_c_district              object
 62  e_c_country               object
 63  e_c_subtotal              object
 64  e_c_total                 object
 65  e_c_order_source          object
 66  e_c_order_type            object
 67  iid                       object
dtypes: object(68)
memory usage: 3.5+ GB

In [15]:
df.shape

(6819161, 68)

In [18]:
unique_event_name_count = df['event_name'].nunique()
print(f"Number of unique event_name values: {unique_event_name_count}")

Number of unique event_name values: 6

In [19]:
event_name_frequency = df['event_name'].value_counts()
print(event_name_frequency)

event_name
product_detail_page_view    36158
purchase                    28840
search                       9170
brand_page_view              4759
item_added_to_cart           3119
add_to_wishlist               152
Name: count, dtype: int64

In [20]:
nan_event_name_count = df['event_name'].isna().sum()
print(f"Number of NaN values in event_name: {nan_event_name_count}")

Number of NaN values in event_name: 6736963

In [27]:


# Assuming df is your DataFrame

# Create a DataFrame to store the summary counts
event_name_summary = pd.DataFrame({
    'Event Name': df['event_name'].unique()  # Get unique event names
})

# Count total occurrences for each event_name
total_counts = df['event_name'].value_counts().reset_index()
total_counts.columns = ['Event Name', 'Total Count']

# Count non-null (actual) values
non_null_counts = df['event_name'].notna().groupby(df['event_name']).sum().reset_index()
non_null_counts.columns = ['Event Name', 'Non-null (Actual) Count']

# Count NaN values
nan_counts = df['event_name'].isna().groupby(df['event_name']).sum().reset_index()
nan_counts.columns = ['Event Name', 'Null/NaN Count']

# Merge the counts into the summary DataFrame
event_name_summary = event_name_summary.merge(total_counts, on='Event Name', how='left')
event_name_summary = event_name_summary.merge(non_null_counts, on='Event Name', how='left')
event_name_summary = event_name_summary.merge(nan_counts, on='Event Name', how='left')

# Fill NaN with 0 for counts
event_name_summary.fillna(0, inplace=True)

# Convert counts to integers
event_name_summary['Total Count'] = event_name_summary['Total Count'].astype(int)
event_name_summary['Non-null (Actual) Count'] = event_name_summary['Non-null (Actual) Count'].astype(int)
event_name_summary['Null/NaN Count'] = event_name_summary['Null/NaN Count'].astype(int)

# Display the result
print(event_name_summary)

ValueError: cannot insert event_name, already exists

In [29]:
total_counts

                 Event Name  Total Count
0                   Missing      6736963
1  product_detail_page_view        36158
2                  purchase        28840
3                    search         9170
4           brand_page_view         4759
5        item_added_to_cart         3119
6           add_to_wishlist          152

In [32]:
non_null_counts

event_name
Missing                     6736963
add_to_wishlist                 152
brand_page_view                4759
item_added_to_cart             3119
product_detail_page_view      36158
purchase                      28840
search                         9170
Name: event_name, dtype: int64

In [34]:
nan_event_name_count

6736963

In [35]:
## take data which only has the event_name filled (no null no "\N")
event_name_df = df[(df['event_name'].notna()) & (df['event_name'] != "\\N")]

event_name_df